Repository saladuit/minishell, pull requests merged in 2023-04, with the labels that each got.

#45 Huge refactor
  include/minishell.h
  libs/libft/Makefile
  libs/libft/include/libft.h
  libs/libft/src/array/ft_array_print.c
  makerc/config.mk
  src/builtins/cd.c
  src/builtins/env.c
  src/builtins/export.c
  src/builtins/export_utils.c
  src/builtins/export_utils2.c
  src/builtins/unset.c
  src/env/dict.c
  src/env/env.c
  src/env/pair.c
  src/executor/executor.c
  src/expander/expander.c
  src/expander/heredoc.c
  src/lexer/lexer.c
  src/main.c
  src/minishell/minishell.c
  src/parser/ast.c
  src/parser/command.c
  src/parser/command_table.c
  src/parser/parser.c
  src/parser/redir.c
  src/types/is_quotechar.c
  src/types/is_tokenchar.c
  src/utils/message.c
  src/utils/signal.c
  src/utils/skip_whitespaces.c
  unit_test/src/expand_cases.c
  unit_test/src/lexer_cases.c
  unit_test/src/minishell_cases.c
Labels: 🔧refactor

#48 Updating main
  include/minishell.h
  makerc/config.mk
  src/expander/expand_dollar_node.c
  src/expander/expander.c
  unit_test/src/expand_cases.c
Labels: 💫enhancement

#54 Expander malloc cases
  .github/workflows/c.yml
  Makefile
  makerc/common.mk
  makerc/config.mk
  src/expander/expand_dollar_node.c
  src/types/is_tokenchar.c
  unit_test/include/custom_malloc.h
  unit_test/include/unit_test.h
  unit_test/src/custom_malloc.c
  unit_test/src/expand_cases.c
  unit_test/src/lexer_cases.c
Labels: 💫enhancement, 🧪test

#57 Env cases🧪
  .github/workflows/c.yml
  src/expander/expander.c
  unit_test/include/unit_test.h
  unit_test/src/env_cases.c
  unit_test/src/lexer_cases.c
  unit_test/src/redirect_all_std.c
Labels: 🧪test

#58 Lexer
  include/minishell.h
  src/lexer/lexer.c
  src/lexer/lexer_initialize.c
  src/lexer/lexical_analyzer.c
  src/types/is_meta.c
  src/types/is_tokenchar.c
  unit_test/src/lexer_cases.c
Labels: 💫enhancement

#55 Exit✨
  include/minishell.h
  libs/libft/include/libft.h
  libs/libft/src/convert/ft_ltoi_with_overflow.c
  src/builtins/exit.c
  src/executor/executor.c
  src/minishell/minishell.c
  unit_test/src/exit_cases.c
  unit_test/src/expand_cases.c
  unit_test/src/minishell_cases.c
Labels: 💫enhancement

#59 Lexer
  Makefile
  include/minishell.h
  src/lexer/lexer.c
  src/lexer/lexer_initialize.c
  src/types/is_quotechar.c
  src/types/is_tokenchar.c
  unit_test/src/lexer_cases.c
Labels: 🐛bug

#61 Env builtin📔
  src/builtins/env.c
  src/env/dict.c
  unit_test/src/env_cases.c
  unit_test/src/env_load_cases.c
Labels: 🧪test

#62 Export builtin🚢
  libs/libft/src/str/ft_strdup.c
  libs/libft/src/str/ft_strlcpy.c
  src/builtins/export.c
  src/env/dict.c
  unit_test/src/export_cases.c
Labels: 💫enhancement, 🧪test

#64 Parser cases🧪
  Makefile
  include/minishell.h
  makerc/common.mk
  src/minishell/minishell.c
  src/parser/argument.c
  src/parser/ast.c
  src/parser/command.c
  src/parser/command_table.c
  src/parser/parser.c
  src/parser/redir.c
  unit_test/src/expand_cases.c
  unit_test/src/parser_cases.c
Labels: 🐛bug, 💫enhancement, 🧪test, 🔧refactor

#66 Pwd builtin📂
  src/builtins/pwd.c
Labels: 💫enhancement

#65 Unset builtin⚡️
  src/builtins/unset.c
  unit_test/src/unset_cases.c
Labels: 💫enhancement, 🧪test

#68 Builtin testing🧪
  src/env/dict.c
  src/env/pair.c
  src/expander/expand_dollar_node.c
  unit_test/src/dict_cases.c
  unit_test/src/export_cases.c
  unit_test/src/pair_cases.c
  unit_test/src/unset_cases.c
Labels: 🐛bug, 🧪test, 🔧refactor
