Repository saladuit/minishell, pull requests merged in 2023-03, with the labels that each got.

#41 fixed mac crashes by removing timout function
  include/minishell.h
  unit_test/src/env_cases.c
  unit_test/src/minishell_cases.c
Labels: 🐛bug

#42 🧪test lexical analyzer
  .gitignore
  include/minishell.h
  src/expander/expander.c
  src/lexer/lexer.c
  src/main.c
  src/utils/message.c
  unit_test/src/expand_cases.c
  unit_test/src/lexer_cases.c
  unit_test/src/minishell_cases.c
Labels: 💫enhancement, 🧪test, 🔧refactor

#43 Extra casees
  unit_test/src/lexer_cases.c
Labels: 🧪test
